@*/*modelo fuertemente tipado*/*@
@model ObjetoEscuelaBase;


@{
    ViewData["Title"] = "Información Asignaturas";
    Layout = "Simple";
}

<p>
    Nombre: @Model.Nombre <br />
    Id: @Model.UniqueId<br />
</p>
